<p>devis works!</p>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h1>Devis app</h1>
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <label >Format à choisir :</label>
        <select class="form-select" aria-label="Default select example" id="format" name="format" formControlName="format" [(ngModel)]='val.format'>
          <option selected>Selectionner le format</option>
          <option value="Devis">Devis</option>
          <option value="Facture">Facture</option>
        </select>
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Coordonnée Client #1
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" formControlName="name" class="form-control" [(ngModel)]='val.name'>

              </p>
              <p>
                <label for="name">First Name:</label>
                <input type="text" id="firstName" name="firstName" formControlName="firstName" class="form-control"
                       [(ngModel)]='val.firstName'>
              </p>
              <p>
                <label for="name">Adresse:</label>
                <input type="text" id="adress" name="adress" formControlName="adress" class="form-control"
                       [(ngModel)]='val.adress'>
              </p>
              <p>
                <label for="name">Adresse 2:</label>
                <input type="text" id="adress2" name="adress2" formControlName="adress2" class="form-control"
                       [(ngModel)]='val.adress2'>
              </p>
              <p>
                <label for="name">Code Postal:</label>
                <input type="text" id="codePostal" name="codePostal" formControlName="codePostal" class="form-control"
                       [(ngModel)]='val.codePostal'>
              </p>
              <p>
                <label for="name">Ville:</label>
                <input type="text" id="ville" name="ville" formControlName="ville" class="form-control"
                       [(ngModel)]='val.ville'>
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              Condition , renseignement paiement etc... #2
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                <label for="name">Description :</label>
                <input type="text" id="description" name="description" formControlName="description" class="form-control" [(ngModel)]='val.description'>
              </p>
              <p>
                <label for="name">Condition de paiement:</label>
                <input type="text" id="condPaiement" name="condPaiement" formControlName="condPaiement" class="form-control" [(ngModel)]='val.condPaiement'>
              </p>
              <p>
                <label for="name">Date:</label>
                <input type="text" id="dateInter" name="dateInter" formControlName="dateInter" class="form-control" [(ngModel)]='val.dateInter'>
              </p>
              <p>
                <label for="name">Decription Supplementaire:</label>
                <input type="text" id="descriptSup" name="descriptSup" formControlName="descriptSup" class="form-control" [(ngModel)]='val.descriptSup'>
              </p>
              <p>
                <label for="name">Devis valable jusqu'a :</label>
                <input type="text" id="dateValide" name="dateValide" formControlName="dateValide" class="form-control" [(ngModel)]='val.dateValide'>
              </p>
            </div>
          </div>
        </div>
      </div>
        <div *ngIf="dateIsOk ; then thenBlock else elseBlock" ></div>
        <ng-template #thenBlock>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree5">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree5" aria-expanded="false" aria-controls="flush-collapseThree">
                Designation  #5
              </button>
            </h2>
            <div id="flush-collapseThree5" class="accordion-collapse collapse" aria-labelledby="flush-headingThree5" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <table class="table table-bordered" formArrayName="quantities">
                  <tr>
                    <th >Designation</th>
                    <th >Quantitée</th>
                    <th >Prix</th>
                    <th> <button type="button" (click)="addQuantity();" class="btn btn-outline-primary">Add More</button></th>
                  </tr>
                  <tr *ngFor="let designations of val.quantities ; let i=index " >

                    <td>

                      <div class="input-group">
                        <textarea class="form-control" aria-label="With textarea" formControlName="designations" class="form-control" >{{designations.designations}}</textarea>
                      </div>
                    </td>
                    <td>
                      <div class="input-group">
                        <input type="text" formControlName="qte" class="form-control" value="{{designations.qte}}">
                      </div>
                    </td>

                    <td>
                      <input type="text" formControlName="prixHt" class="form-control" value="{{designations.prixHt}}" >
                    </td>

                    <td>
                      <button (click)="removeQuantity(i)" class="btn btn-danger">Remove</button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>


        </ng-template>

        <ng-template #elseBlock>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Designation  #4
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <table class="table table-bordered" formArrayName="quantities">
                  <tr>
                    <th >Designation</th>
                    <th >Quantitée</th>
                    <th >Prix</th>
                    <th> <button type="button" (click)="addQuantity()" class="btn btn-outline-primary">Add More</button></th>
                  </tr>
                  <tr *ngFor="let designations of quantities().controls; let i=index " [formGroupName]="i" >
                    <td>

                      <div class="input-group">
                        <textarea class="form-control" aria-label="With textarea" formControlName="designations" class="form-control"></textarea>
                      </div>
                    </td>
                    <td>
                      <div class="input-group">
                        <input type="text" formControlName="qte" class="form-control"[(ngModel)]='val.quantities[i].qte'>
                      </div>
                    </td>

                    <td>
                      <input type="text" formControlName="prixHt" class="form-control"[(ngModel)]='val.quantities[i].prixHt' >
                    </td>

                    <td>
                      <button (click)="removeQuantity(i)" class="btn btn-danger">Remove</button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

        </ng-template>


        <button type="submit" class="btn btn-success">Submit</button>
        <div class="col-md-4 text-right">
          <button class="btn btn-success btn-block" (click)="openPDF()">Download PDF</button>
        </div>
        <div class="col-md-4 text-right">
          <button class="btn btn-success btn-block" (click)="saveJson()">Download json</button>
        </div>
<!--        <div class="input-group mb-3">-->
<!--          <label class="input-group-text" for="inputGroupFile01">Upload</label>-->
<!--          <input  type="file" class="form-control" id="inputGroupFile01"  (change) ="readFile($event)">-->
<!--        </div>-->
        <div class="upload-btn-wrapper">
          <button class="btn2 ">Upload a file</button>
          <input type="file" name="myfile" (change) ="readFile($event)"/>
        </div>
      </form>
    </div>
    <!--<input type="text"  />-->
    <!--{{val}}-->


    <div class="col-sm devis" id="htmlpdf" >
      <div class="row">
        <div class="col-sm">
          <h1>{{val.format}}</h1>
          <div class="card">
            <div class="card-body">
              <p>{{societe.Nom}}
                <br>{{societe.CorpDetat}}
                <br> {{societe.Status}}
                <br> {{societe.adress}}
                <br>{{societe.codePostal}}&nbsp;{{societe.ville}}
                <br> Tel:{{societe.telephone}}
                <br> Siret :{{societe.siret}}&nbsp;APE:{{societe.ape}}
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm">

        </div>
      </div>
      <div class="row">
        <div class="col">

        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <p>{{val.name}}&nbsp;{{val.firstName}}
                <br>{{val.adress}}
                <br> {{val.adress2}}
                <br>{{val.codePostal}}&nbsp;{{val.ville}}
              </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          Decription : {{val.description}}
        </div>
      </div>
        <br>
      <div class="row">
        <div class="col">
          Condition de paiment :{{val.condPaiement}}
        </div>
      </div>
        <br>
      <div class="row">
        <div class="col">
          Date de saisie du devis : {{val.dateInter}}
        </div>
      </div>
        <br>
      <div class="row">
        <div class="col">
          Information complementaite :{{val.descriptSup}}
        </div>
      </div>
        <br>
      <div class="row">
        <div class="col">
          <table class="table table-primary">
            <thead>
            <tr>
              <th>Decsription</th>
              <th>Quantite</th>
              <th>Prix Ht (€)</th>
              <th>Total Ht (€)</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <td colspan="3" >SUM</td>
              <td>{{total()}}</td>
            </tr>
            </tfoot>
            <tbody>
            <div *ngIf="dateIsOk; then thenBlock1 else elseBlock1"></div>
            <ng-template #thenBlock1>
              <tr class="table-info" *ngFor="let designations of productForm.value; let i=index" >
                <td>
                  {{designations.quantities.designations}}
                <td>
                  {{designations.qte}}
                </td>
                <td>
                  {{designations.prixHt}}
                </td>
                <!--              <td>-->
                <!--                {{designations.prixHt*designations.qte}}-->
                <!--              </td>-->
              </tr>
            </ng-template>
            <ng-template #elseBlock1>
              <tr class="table-info" *ngFor="let designations of val.quantities; let i=index" >
                <td>
                  {{designations.designations}}
                <td>
                  {{designations.qte}}
                </td>
                <td>
                  {{designations.prixHt}}
                </td>
                <!--              <td>-->
                <!--                {{designations.prixHt*designations.qte}}-->
                <!--              </td>-->
              </tr>
            </ng-template>

            </tbody>
          </table>

        </div>

      </div>
      <div class="row">
        <div class="col">
          Date de validité du devis :{{val.dateValide}}
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          Date de signature
        </div>
        <div class="col-sm">
          Signature
        </div>
      </div>
    </div>
  </div>
</div>
</div>
